@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300|Roboto');
body {
  margin: 0;
  padding: 0;
  background: #fff;
  background: url("img/ylapalkki_TAUCHI_ENG.png") no-repeat left top fixed;
  background-size: 100vw;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
}
main,
footer {
  padding: 2em;
}
h1 {
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 3em;
}
h2 {
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 2em;
}
header img {
  width: 100%;
}
header section {
  color: #fff;
  background-color: #003050;
  padding: 2em;
  margin-top: calc(17.0212766vw);
}
main {
  background-color: #fff;
}
main ul {
  margin-bottom: 3em;
}
main ul li {
  margin-top: 1.5em;
}
main ul a.btn {
  margin-left: 1em;
}
main ul a.btn.btn-primary:before {
  content: "Run";
}
main ul a.btn.btn-info:before {
  content: "Manual";
}
main ul a.btn {
  margin-left: 1em;
}
main ul a.btn:before {
  content: "Run";
}
main ul .labels {
  display: block;
}
main ul .labels .label {
  margin-right: 0.5em;
}
main ul .labels .closed {
  background-color: #305F77;
}
main ul .labels .closed:before {
  content: "closed";
}
main ul .labels .active {
  background-color: #307730;
}
main ul .labels .active:before {
  content: "active";
}
main ul .labels .onhold:before {
  content: "on hold";
}
main ul .labels .unfinished {
  background-color: #773030;
}
main ul .labels .unfinished:before {
  content: "unfinished";
}
footer {
  background-color: #003050;
}
footer img {
  margin: 0 2em;
}
