@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
    margin: 0;
    padding: 0;
    background: #fff;
    /* background: url("img/background.png") no-repeat left top fixed; */
    background-size: 100vw 100vh;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
}

main, footer {
	padding: 2em;
}

header {
	color: #fff;
	background-color: #003050;

	img {
		width: 100%;
	}

	section {
		padding: 2em;
	}
}

footer {
	background-color: #003050;

	img {
		margin: 0 2em;
	}
}

.label {
	margin-left: 1em;
}

.closed:before {
	content: "closed";
}

.active:before {
	content: "active";
}

.onhold:before {
	content: "on hold";
}

.unfinished:before {
	content: "unfinished";
}