doctype html
html
    head
        title GaSP project
        meta(charset="utf-8")
        link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css")
        link(rel="stylesheet", href="app.css")

    body
        header
            //img(src="img/ylapalkki_TAUCHI_ENG.jpg")
            section
                h1 GaSP: Private and Shared Gaze
                p This project primarily focuses on developing software solutions that make use of gaze pointer shared with others (peers, tutors, students, etc), either in real time or as a recorded data set. A secondary goal of the project is to generate new ideas on using the gaze pointer privately, especially in an education context.
        main
            h2 Repositories
            ul
                li
                    a(href="https://github.com/uta-gasp/sgwm") Static gaze-to-word mapping tool
                    p Maps an array of fixation onto an array of words
                    .labels
                        .label.label-default.active &nbsp;
                li
                    a(href="https://github.com/uta-gasp/lunddata-mapping") Lund data mapping
                    p Gaze-to-word mapping quality tester that uses anotated reading data collected in Lund
                    .labels
                        .label.label-default.active &nbsp;
                li
                    a(href="https://github.com/uta-gasp/reading") Reading data recording and visualization tool
                    a.btn.btn-primary(href="https://uta-gasp.github.io/reading") &nbsp;
                    p To run the experiment with children reading short text in Finnish and later displaying the collected data in several modes
                    .labels
                        .label.label-default.active &nbsp;
                li
                    a(href="https://github.com/uta-gasp/custom-calibration") Gamified calibration for kids
                    p Replaces "boaring" default calibration (to be embedded into "myGaze" module for ETU-Driver). 
                        Will be used in the experiments with children who will perform calibration on they own. 
                    .labels
                        .label.label-default.active &nbsp;
                li
                    a(href="https://github.com/uta-gasp/gazenet-server") Server for GazeNet
                    p Transmits data between GazeNet clients
                    .labels
                        .label.label-default.active &nbsp;
                li
                    a(href="https://github.com/uta-gasp/gazenet-server") GazeNet
                    p A tool to share gaze pointer.
                    .labels
                        .label.label-default.active &nbsp;
                        .label.label-default.onhold &nbsp;
                li
                    a(href="https://github.com/uta-gasp/gazenet-server") Server for GazeNet
                    p Transmits data between GazeNet clients
                    .labels
                        .label.label-default.active &nbsp;
                        .label.label-default.onhold &nbsp;
                li
                    a(href="https://github.com/uta-gasp/dyslexia") Dyslexia
                    a.btn.btn-primary(href="https://uta-gasp.github.io/dyslexia" class="btn ") &nbsp;
                    p Hides all words in a text except the word to read now and the word to read next.
                    .labels
                        .label.label-default.unfinished &nbsp;
                        .label.label-default.onhold &nbsp;
                li
                    a(href="https://github.com/uta-gasp/eyetracker-comparison") Eye tracker comparison
                    p To run the experiment with children for eye tracker accuracy investigation
                    .labels
                        .label.label-default.closed &nbsp;
                li
                    a(href="https://github.com/uta-gasp/gazelaser") GazeLaser
                    p Displays gaze pointer on a screen
                    .labels
                        .label.label-default.closed &nbsp;
        footer
            a(href="http://gasp.sis.uta.fi/")
                img(src="img/logo.png" width="150")
            a(href="http://aka.fi")
                img(src="img/aka.png" width="150")

        script(src="app.js")
        script.
