doctype html
html
    head
        title GaSP project
        meta(charset="utf-8")
        link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css")
        link(rel="stylesheet", href="app.css")

        link(rel="shortcut icon" href="/favicon.ico")
        link(rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32")
        link(rel="icon" type="image/png" href="/favicon-16x16.png" sizes="16x16")
        link(name="theme-color" content="#ffffff")

    body
        header
            section
                h1 GaSP: Private and Shared Gaze
                p This project primarily focuses on developing software solutions that make use of gaze pointer shared with others (peers, tutors, students, etc), either in real time or as a recorded data set. A secondary goal of the project is to generate new ideas on using the gaze pointer privately, especially in an education context.
        main
            h2 Repositories
            ul
                li
                    a(href="https://github.com/uta-gasp/silko") Web application serving as a reading aid for teachers and students
                    a.btn.btn-primary(href="https://uta-gasp.github.io/silko") &nbsp;
                    a.btn.btn-info(href="https://uta-gasp.gitbooks.io/silko/") &nbsp;
                    p A further step from the two previous projects: reading task creation, task completion and results visualization in one place.
                    .labels
                        .label.label-default.active &nbsp;
                li
                    a(href="https://github.com/uta-gasp/readvis2") Multi-paged text reading data visualization
                    a.btn.btn-primary(href="https://uta-gasp.github.io/readvis2") &nbsp;
                    p Displays data record in the experiment with children reading multi-paged text in Finnish
                    .labels
                        .label.label-default.closed &nbsp;
                li
                    a(href="https://github.com/uta-gasp/reading2") Multi-paged text reading data recording
                    a.btn.btn-primary(href="https://uta-gasp.github.io/reading2") &nbsp;
                    p To run the experiment with children reading multi-paged text in Finnish
                    .labels
                        .label.label-default.closed &nbsp;
                li
                    a(href="https://github.com/uta-gasp/sgwm") Static gaze-to-word mapping tool
                    p Maps an array of fixation onto an array of words
                    .labels
                        .label.label-default.closed &nbsp;
                li
                    a(href="https://github.com/uta-gasp/dgwm") Dynamic gaze-to-word mapping tool
                    p Maps fixation onto an words in real time
                    .labels
                        .label.label-default.closed &nbsp;
                li
                    a(href="https://github.com/uta-gasp/lunddata-mapping") Lund data mapping
                    p Gaze-to-word mapping quality tester that uses anotated reading data collected in Lund
                    .labels
                        .label.label-default.closed &nbsp;
                li
                    a(href="https://github.com/uta-gasp/reading") Reading data recording and visualization tool
                    a.btn.btn-primary(href="https://uta-gasp.github.io/reading") &nbsp;
                    p To run the experiment with children reading short text in Finnish and later displaying the collected data in several modes
                    .labels
                        .label.label-default.closed &nbsp;
                li
                    a(href="https://github.com/uta-gasp/custom-calibration") Gamified calibration for kids
                    p Replaces "boaring" default calibration. Targeting use cases when children have to perform calibration on they own.
                    .labels
                        .label.label-default.closed &nbsp;
                li
                    a(href="https://github.com/uta-gasp/gazenet-client") GazeNet client
                    p A tool to share gaze pointer.
                    .labels
                        .label.label-default.onhold &nbsp;
                li
                    a(href="https://github.com/uta-gasp/gazenet-server") Server for GazeNet
                    p Transmits data between GazeNet clients
                    .labels
                        .label.label-default.onhold &nbsp;
                li
                    a(href="https://github.com/uta-gasp/dyslexia") Dyslexia
                    a.btn.btn-primary(href="https://uta-gasp.github.io/dyslexia" class="btn ") &nbsp;
                    p Hides all words in a text except the word to read now and the word to read next.
                    .labels
                        .label.label-default.unfinished &nbsp;
                li
                    a(href="https://github.com/uta-gasp/eyetracker-comparison") Eye tracker comparison
                    p To run the experiment with children for eye tracker accuracy investigation
                    .labels
                        .label.label-default.closed &nbsp;
                li
                    a(href="https://github.com/uta-gasp/gazelaser") GazeLaser
                    p Displays gaze pointer on a screen
                    .labels
                        .label.label-default.closed &nbsp;
        footer
            a(href="http://gasp.sis.uta.fi/")
                img(src="img/logo.png" width="150")
            a(href="http://aka.fi")
                img(src="img/aka.png" width="150")

        script(src="app.js")
        script.
